{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block title %}E-Commerce{% endblock %}
{% block css_files %}
<link rel="stylesheet" href={% static "items/product-order.css" %}>
{% endblock %}

{% block content %}
<div class="order-container">
        <div class="order-header">
            <h1>{{message}}</h1>
            <p>Thank you for your purchase! Your order will be delivered within 5 days.</p>
        </div>

        <div class="order-summary">
            <h2>Order Summary</h2>
            <div class="order-item">
                <div class="item-details">
                    <h3>{{product.product_name}}</h3>
                    <p>Qty: {{quantity}}</p>
                    <p>Price: {{product.product_price}}</p>
                </div>
                <div class="item-total" >
                {%with total_price=product.product_price|multiply:quantity%}
                    <h3>Total: ₹{{total_price}}</h3>
                </div>
            </div>
            <div class="total-price">
                <h2>Total Bill: ₹{{total_price}}</h2>
            </div>
            {%endwith%}
        </div>

        <div class="billing-info">
            <h2>Billing Information</h2>
            <p><strong>Name:</strong> {{user.user_name}}</p>
            <p><strong>Address:</strong> 123 Street, City, Country</p>
            <p><strong>Contact:</strong>+91 {{user.user_mobile}}</p>
        </div>

        <div class="footer">
            <p>&copy; 2024 Your Company. All rights reserved.</p>
        </div>
        <a href="{% url 'show_product' %}" class="btn btn-secondary btn-lg" style="background-color: grey; border-color: grey; color: white; text-decoration: none;">Back to Products</a>

    </div>
{% endblock %}