{% extends "base.html" %}
{% load static %}


{% block title %}E_Commerce{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'items/show_products.css' %}">
{% endblock %}

{% block content %}

{% include "items/includes/header.html" %}
<br>
<div style="display: flex; justify-content:space-between;margin-right:20px; align-items: center; margin-bottom: 20px;">
    {% if query %}
        <p style="margin: 0;font-size: 1.2em;">Showing results for: <strong>{{ query }}</strong></p>
    {% endif %}
    <div style=" display: flex; margin-left: auto;">
    <a href="{% url 'show_product' %}" 
           style="background-color: grey;padding: 10px 20px; text-transform: uppercase; border-radius: 5px; border: none; color: white; text-decoration: none; font-size: 1em; transition: background-color 0.3s ease;">
           Back to Products
        </a>
    </div>

</div>

{%if not products%}
<h3>No results</h3>
{%endif%}
{% include "items/includes/product_card.html" %}
{%endblock%}